*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
body{
    background-color: #c3cedd;
}
.container{
    margin-top: 70px;
}

.title{
    padding: 15px 0;
    width: 500px;
    margin: auto;
}
.form-box{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 5px;
    margin: auto;
    border-radius: 5px;
    font-size: 0.8rem;
}
.field{
    width: 100%;
}
.form-box input, textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #c3cedd;
}
.form-box label{
    font-weight:600;
}
.form-box input{
    height: 30px;
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px 0;
}

.buttons button{
    width: 48%;
    height: 35px;
    border: none;
    border-radius: 5px;
}
#send-btn{
    background-color: #d5236d;
    color: #fff;
    opacity: 50%;
}

#send-btn .active{
    opacity: 100%;
}
#reset-btn{
    background-color: #1b242f;
    color: #fff;
}

.error-message{
    font-weight: 600;
    color: red;
}

#spinner{
    align-self: center;
}

.succ-message{
    background-color: greenyellow;
    align-self: center;
    font-size: 1rem;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-weight: 500;
}